@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.line-header {
  border: 3px solid #ffbf00;
}

.info-line {
  background: #ffbf00;
  background-color: #ffbf00;
  border: 6px solid #ffbf00;
  font-size: bold;
}
